:root {
  --select-border-radius: ;
  --dropdown-menu-height: 3rem;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
}
.dropdown-wrapper .dropdown-header {
  position: relative;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;

  padding: 10px;

  font-size: 1rem;
  color: var(--text-main);

  background-color: var(--background-body);

  border: 1px solid var(--ui-button-outline);
  /* border-radius: var(--btn-border-radius); */
  border-radius: 0;
}
.dropdown-wrapper * {
  display: flex;
}

.dropdown-wrapper button {
  height: var(--dropdown-menu-height);
}

.dropdown-list-container button {
  font-size: 1rem;
  color: var(--text-main);
}

.dropdown-header:hover {
  border-color: var(--ui-button-outline-hover);
  /* transition: all ease-in-out 100ms; */
}

.dropdown-header {
  cursor: pointer;
}

.dropdown-list-container {
  /* position: absolute;
  top: var(--dropdown-menu-height);
  z-index: 100; */

  position: fixed;
  z-index: 1000;

  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  /* border-radius: var(--btn-border-radius); */
  border-radius: 0;
}

.dropdown-wrapper .dropdown-list-container {
  border: 1px solid var(--ui-button-outline);

  max-width: 100%;
}

.dropdown-arrow {
  background-color: var(--background-body);

  position: absolute;
  right: 0rem;
  margin-top: auto;
  margin-bottom: auto;

  height: 100%;
  width: 2.5rem;

  transform: rotate(0deg);
  transition: transform ease-in-out 100ms;
}
.dropdown-wrapper .flip-icon {
  transform: rotate(180deg);
  transition: transform ease-in-out 100ms;
}
.dropdown-arrow svg {
  width: 1.9rem;
  height: 1.9rem;
}

.dropdown-list-item {
  border: none;
  border-radius: 0;
}
.dropdown-list-item:hover {
  background-color: var(--background-body-hover);
  color: #ffffff;
  /* transition: all ease-out 100ms; */
}

/* Dropdown Disabled Styles */
.dropdown-header.dropdown-disabled {
  cursor: not-allowed;
  color: var(--text-alt-two);
}

.dropdown-disabled:hover {
  border-color: var(--ui-button-outline) !important;
  /* transition: all ease-in-out 100ms; */
}

.dropdown-label {
  margin-bottom: 0.25rem;
}

.recommend-model-dropdown-item {
  border-top: 1px solid var(--ui-button-outline);
  border-bottom: 1px solid var(--ui-button-outline);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
