.title-bar {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--title-bar-height);
}

.title-bar-controls-container {
  -webkit-app-region: no-drag;
}

.test-button {
  -webkit-app-region: no-drag;
  pointer-events: all;
  cursor: pointer;
}
