.title-bar {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--title-bar-height);
  background-color: var(--blue-darker);
}

.title-bar-controls-container {
  -webkit-app-region: no-drag;
}

.test-button {
  -webkit-app-region: no-drag;
  pointer-events: all;
  cursor: pointer;
}

.title-bar-controls-container button:hover {
  background-color: var(--blue-darkest);
}
.title-bar-controls-container button.title-bar-close-button:hover {
  background-color: var(--red-primary);
}
