@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors ============================================ */
  --blue-primary: #0fd4f2;

  --blue-light: #47d7fa;
  --blue-lighter: #80defd;
  --blue-lightest: #b9e9ff;
  --blue-near-white: #f2faff;

  --blue-dark: #05b1bf;
  --blue-darker: #018a8c;
  --blue-darkest: #005956;
  --blue-near-black: #002622;

  --purple-primary: #a740e3;
  --purple-light: #ca6df3;
  --purple-lighter: #e39bfb;
  --purple-lightest: #f4c7ff;
  --purple-near-white: #fdf2ff;

  --purple-dark: #741eb4;
  --purple-darker: #4b0e85;
  --purple-darkest: #2b0755;
  --purple-near-black: #110326;

  --white: #fafbfc;
  --black: #222626;

  --gray-primary: #b3b9ba;
  --gray-light: #c4c9cb;
  --gray-lighter: #d6dadb;
  --gray-lightest: #e8ebec;
  --gray-dark: #8d9495;
  --gray-darker: #687070;
  --gray-darkest: #454b4b;

  --red-primary: #ff1d0b;

  /* Global Size Variables ============================= */

  --title-bar-height: 40px;
  --title-bar-height-half: calc(var(--title-bar-height) / 2);
}

html,
body {
  overflow: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding-top: var(--title-bar-height);
}

body,
* {
  user-select: none;
}
input,
textarea {
  user-select: text;
}

/* Main Window ============================================ */

.main-window-container {
  height: 100vh;
  background-color: var(--white);
}

.main-controls-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2rem;
}

.main-window-content-top {
  height: calc(50% - var(--title-bar-height-half) - var(--main-tabs-height));
}
.main-window-content-bottom {
  overflow: hidden;
  padding: 2rem;
  height: calc(50% - var(--title-bar-height-half));
}

/* Buttons ============================================ */

.button-primary {
  background-color: var(--blue-dark);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--white);
  transition: background-color 50ms ease-out;
}
.button-primary:hover {
  background-color: var(--blue-darkest);
  transition: background-color 50ms ease-out;
}
.button-primary:disabled {
  background-color: var(--gray-primary);
  cursor: not-allowed;
}
