.rename-rule-item {
  transition: background-color ease-out 50ms;
  transition: color ease-out 50ms;
}

.rename-rule-item:hover {
  transition: background-color ease-out 50ms;
  transition: color ease-out 50ms;
}

.rules-list-container {
  padding: 0.5rem;
  border: 1px solid red;
}
